.side-menu {
    // position: absolute;
    // left: 0;
    // top: 0;
    // right: 0;
    // bottom: 0;
    padding: 36px 28px 76px;
    width: 306px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: start;
    flex-shrink: 0;

    // transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s ease-in, width 0.5s ease-in, padding 0.5s ease-in, opacity 0.5s ease-in;
    

    @include laptopS {
        transform: translateX(-100%);
        // transform: scaleX(0);
        width: 0;
        padding: unset;
        opacity: 0;
        
    }


}

.side-menu__logo {
    color: var(--text-accent);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 53px;
}

.logo  {
    &__img {
        margin-right: 8px;
    }
    &__name {
        color: var(--accent);
        font-weight: 600;
        font-size: 26px;
        letter-spacing: 0.01em;
        margin-right: 0px;
    }
    &__version {
        font-weight: 500;
        font-size: 10px;
        letter-spacing: -0.01em;
        color: #838383;
    }
}


.side-menu__nav {
    width: 100%;

}

.side-menu__user {
 	margin-top: auto;
	display: flex;
	align-items: center;
	column-gap: 12px;
}