.customers__footer {
    display: flex;
    align-items: start;
    justify-content: space-between;

    @include mobile {
        flex-direction: column;
        gap: 12px;
    }
    @include mobileS {
        align-items: center;
    }
}

.footer__info {
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #b5b7c0;

    @include mobileS {font-size: 12px;}
}

.footer__pagination {
    margin-right: 14px;
    margin-top: 3px;

    @include mobile {margin-left: auto;}
    @include mobileS {margin: unset;}
}

.footer__pagination,
.btn-range {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid #eee;
    border-radius: 4px;
    width: 25px;
    height: 24px;
    background: #f5f5f5;

    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #404b52;

    @include mobileS {
        width: 22px;
        height: 22px;
        font-size: 10px;
    }

    &--active {
        border: 1px solid #5932ea;
        background: #5932ea;
        color: var(--text-white);
    }
    &.btn-dots {width: 10px;}
    &:disabled {
        opacity: 0.3;
        cursor: default;
    }
}
