.customers {
    // padding: 30px 40px 40px 38px;
    width: 968px;
    padding-block: 30px 40px;
    border-radius: 30px;
    background-color: var(--page-bg);
    box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);

    transform: scale(0);
    transform-origin: center;
    transition: all 0.4s ease-in;
    
    &--active {
        transform: scale(1);
    }

    @include desktop {
        width: auto;
    }
    @include tablet {
        padding-block: 20px 30px;
    }

}

.customers__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @include tablet {
        margin-bottom: 20px;
    }
    @include mobile {
        margin-bottom: 16px;
    }

    @include mobileM {
        flex-direction: column-reverse;
        gap: 12px;
    }
}

.header__content {
    display: flex;
    // align-items: center;
    gap: 7px 10px;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    @include mobile {
        row-gap: 4px;
    }
    @include mobileM {
        flex-direction: row;
        flex-wrap: wrap;        
        align-items: center;
    }
    @include mobileS {
        row-gap: 1px;
    }
}

.header__title {
    // margin-bottom: 7px;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -0.01em;
    color: var(--text-accent);

    @include mobileM {
        font-size: 19px;
    }
}

.header__desc {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #16c098;

    @include mobileM {
        font-size: 13px;
    }
}
.customers__form {
    margin-right: 26px;
    padding-left: 8px;
    padding-top: 4px;
    
    display: flex;
    align-items: center;
    column-gap: 8px;

    border-radius: 10px;
    width: 216px;
    height: 38px;

    background: #f9fbff;

    @include mobileM {
        // margin-left: auto;
        margin-inline: auto 0;
    }

}

.form-btn {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
}

.form-item {
    padding-right: 2px;
}
.search-input {
    width: 100%;

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        letter-spacing: -0.01em;
        color: #b5b7c0;
    }

    &::-webkit-search-cancel-button:hover {cursor: pointer;}
}