.customers__table {
    margin-bottom: 27px;
    overflow-x: auto;

    @include laptopS {
        margin-right: 14px;
    }
    @include mobile {
        margin-bottom: 16px;
    }
    @include mobileS {margin-inline: 10px;}
}

.devider {
    border-bottom: 1px solid #eee;
}

.table__header {
    padding-bottom: 14px;
    display: grid;
    grid-template-columns: 162px 120px 147px 197px 130px 96px;
    justify-content: space-between;
    gap: 10px;

    @include mobileM {
        padding-bottom: 10px;
    }

    & > li {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.01em;
        color: #b5b7c0;

        @include mobileM {
            font-size: 13px;
        }
    }

    & .status {
        // text-align: start;
        padding-left: 12px;
    }
}

.customers__table-wrapper {
    position: relative;
    max-height: 552px;
    // overflow-y: hidden;
    transition: all 0.8s ease-in-out;
}
.animate-in:nth-child(odd) {
    // background-color: #df0404;
}
.animate-out:nth-child(even) {
    background-color: lightcoral;
}

.items {
    position: relative;
    display: grid;
    grid-template-columns: 162px 120px 147px 197px 130px 96px;
    grid-template-rows: 68px;
    justify-content: space-between;
    gap: 10px;
    
    border-bottom: 1px solid #eee;
    opacity: 1;
    // transform: translateX(0);

    transition: all 0.1s ease-in-out;

    &.hide-to-right  {
        // left: 120%;
        // opacity: 0;
        // transform: translateX(120%);
        transition: all 0.1s ease-in-out;
        // animation: hide-right 1s ease-in-out ;
    }
    &.hide-to-left  {
        // left: -120%;
        // opacity: 0;
        // transform: translateX(-120%);
        transition: all 0.1s ease-in-out;
        // animation: hide-left 1s ease-in-out ;
    }
    
    & > li {
        align-content: center;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.01em;
        color: #292d32;

        @include mobileM {
            font-size: 12px;
        }
    }

    & .item-status {
        text-align: start;
    }

    @include laptopS {
        grid-template-rows: 50px;
    }
    @include mobileM {
        grid-template-rows: 38px;
    }
}

@keyframes hide-right {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: 120%;
        opacity: 0;
    }
}

@keyframes hide-left {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: -120%;
        opacity: 0;
    }
}

.status-btn {
    border: 1px solid #df0404;
    border-radius: 4px;
    padding: 4px 12px;
    width: 80px;
    height: 29px;

    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #df0404;
    background: #ffc5c5;

    &--active {
        border: 1px solid #00b087;
        color: #008767;
        background: rgba(22, 192, 152, 0.38);
    }

    &:hover{opacity: 0.85;}

    &:active {outline: 1px solid gray;}
}
