.mobile-nav {
	position: fixed;
	top: 0;
	left: -100%;

	padding: 36px 28px 76px;
	max-width: 306px;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: start;
    flex-shrink: 0;

	box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
    background: #fff;

    // background: linear-gradient(209deg, #4287b3 -17.38%, #133f6b 78.4%), #276195;

	z-index: 99;
	opacity: 0;

	transition: all 0.2s ease-in;

	@media (max-height: 968px) {
        padding-bottom: 30px;
    }
}

.mobile-nav--open {
	@include desktopS {
		left: 0;
		opacity: 1;
	}
}

.mobile-nav__link {
	color: var(--text-white);
	background-color: var(--primary);
	font-size: 1.5rem;
	line-height: 6rem;
	width: 100%;

	&:hover {
		@include laptopS {
			background-color: var(--pink-hover);
		}
	}
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	font-size: 28px;

	& .active {opacity: 0.5;}
}

/* =================  Mobile Fade  =====================  */
.mobile-nav-fade {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	// background-color: rgba(255, 218, 231, 0.7);
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	z-index: 98;

	opacity: 0;
	transition: opacity 0.2s ease-in;
	pointer-events: none;
}


.mobile-nav-fade--open {
	pointer-events: all;
	
	@include desktopS {opacity: 1;}
}